h1 {
  font-family: Lobster, monospace;
  font-size: 50px;
  color: rgb(227, 0, 0);
  text-shadow: 5px 5px 5px black;
  text-align: center;
  margin: 10px 50px;
}

form {
  text-align: center;
}

input {
  margin: 10px 0;
}

.meme {
  position: relative;
  text-align: center;
  color: white;
  font-size: x-large;
  /* Below is from https://stackoverflow.com/questions/4919076/outline-effect-to-text*/
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.meme-image {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.top-text {
  z-index: 100;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-text {
  z-index: 100;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
