body {
  background-color: lightblue;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

button {
  font-family: inherit;
}

h1 {
  font-family: Lobster, monospace;
  font-size: 50px;
  color: rgb(227, 0, 0);
  text-shadow: 4px 4px 4px black;
  text-align: center;
  margin: 10px 50px;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  background-color: whitesmoke;
  width: 300px;
	margin: 0 auto;
  padding: 1%;
  border-style: solid;
  border-width: 5px;
}

label {
  grid-column: 1 / 2;
}

input, .meme-button {
  margin: 5px 0;
  grid-column: 2 / 3;
}

.meme-button-container {
  text-align: center;
  grid-column: 1 / 4
}

.meme-button {
  background-color: rgb(216, 244, 254);

}

#meme-gallery {
  padding: 3%; 
}

.meme {
  position: relative;
  text-align: center;
  color: white;
  font-size: 50px;
  padding: 1% 0; 
}

.meme-text {
  /* Below is from https://stackoverflow.com/questions/4919076/outline-effect-to-text*/
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  z-index: 100;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 0;
  width: 750px;
  overflow-wrap: break-word; 
}

.meme-image {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-text {
  top: 10%;
  left: 50%;
}

.bottom-text {
  bottom: 10%;
  left: 50%;
}

.delete-button {
  background-color: lightgray;
  font-size: large;
}